
.md-footer {
    background-color: #28b5f6;
}

/* Изменение цвета текста в footer */
.md-footer__link {
    color: #ffffff; /* Цвет текста ссылок */
}

/* Изменение цвета текста при наведении */
.md-footer__link:hover {
    color: #4fc3f7; /* Цвет текста при наведении */
}

/* смещение элементов в дереве разделов */
.md-nav__item--section > .md-nav > .md-nav__list {
    margin-left: 0.7rem;
}

.md-typeset h1 {
    font-weight: 400;
    /* color: brown; */
}

/* .md-ellipsis {
    font-weight: bold;
} */

/*.required-tag {
	background-color: blue;
}*/

/* .git-revision-date-localized-plugin-datetime { color: gray; } */
/*
td {
white-space: pre;
}
*/